{% extends "users_base.html" %}
{% load static %}
{% block content %}

<head>
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="{% static 'users.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body>

    <nav class="navbar">
        <div class="container-fluid">
            <img src="{% static 'Logo.png' %}" alt="Logo">
            <form class="d-flex" role="search">
                <a href="{% url 'register' %}"><button type="button" class="btn rounded-pill" >Registrarse</button></a>
                <button type="button" class="btn rounded-pill primary-button">Inicia sesión</button>
            </form>
        </div>
    </nav>

    <div class="container header">
    <h1 class="main-heading-text">¡Bienvenido al sitio de las <br> Oportunidades Inclusivas!</h1>
    </div>

    <div class="container main-container">
        <div class="row">
            <div class="col">
                <form method="post" action="" novalidate>
                    {% csrf_token %}
                    <!-- Output error messages -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-bottom: 30px">
                                    {{message}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="container">
                        <div class="row">
                            <label class="input-label">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        
                        <div class="row">
                            <label class="input-label">Contraseña</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        
                        <div class="row">
                            <button type="submit" class="btn rounded-pill submit-button">Inicia sesión</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col img-col">
                <img src="{% static 'users-img.jpg' %}" alt="Site Image">
            </div>
        </div>
    </div>

</body>
{% endblock  %}