{% extends "users_base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <head>
        <title>Registro de Usuario</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'applicants-home' %}">
            <img src="{% static 'home_icon.ico' %}"alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            OpenHire
            </a>
        </div>
        </nav>

        <h2>Registro de Usuario</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>

        <p>Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesión</a>.</p>
    </body>
    </html>
{% endblock  %}