/* NAVBAR */
.nav {
    background-color: #3498db;
}

/* TITULO */
h2 {
    text-align: center;
}

/* LISTA DE OFERTAS */

ul {
    margin-left: 0; /* Elimina el margen izquierdo predeterminado del elemento ul */
    padding: 0; /* También es común establecer el padding a 0 para asegurarse de que no haya espacio adicional */
}

.list-group {
    width: 25%; /* Establece el ancho al 25% de la plantilla */
    float: left; /* Hace que el elemento flote a la derecha */
}

.list-group-item {
    /* Agrega estilos adicionales según sea necesario para los elementos de la lista */
    /* Por ejemplo, puedes establecer colores, márgenes, padding, etc. */
}

/* LISTA DE APLICACIONES */
.list-group-applications {
    width: 50%; /* Establece el ancho al 25% de la plantilla */
    float: right; /* Hace que el elemento flote a la derecha */
}