.list-group-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.list-group-item {
    flex: 1;
    text-align: center; /* Ajusta el texto al centro si es necesario */
    border: 1px solid #ccc; /* Puedes agregar bordes para mayor separación visual */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
}

h3{
    text-align: center;
}