{% extends "job_applications-base.html" %}
{% load static %}
{% block content %}
<head>
</head>

<body>
  <div class = "container">
    <div class="col-12">
      <p class="fw-semibold" style="font-size: 24px; margin-bottom:0px">Crear Postulación.</p>
      <p class="fw-light">Tus datos de Perfil y del Filtro Inclusivo se incluirán automáticamente a la aplicación.</p>
    </div>

    <form method="post" enctype="multipart/form-data" class="row g-3">
      {% csrf_token %}
        <p class="fw-semibold" style="font-size: 18px; margin-bottom:0px">Experiencia reciente</p>
      
        <div class="col-md-6">
          <label class="form-label">Título del Empleo *</label>
          {{form.recent_job_title}}
        </div>

        <div class="col-md-6">
          <label class="form-label">Compañía</label>
          {{form.recent_job_company}}
        </div>

        <div class="col-md-6">
          <label class="form-label">Fecha Inicio</label>
          {{form.fecha_inicio}}
        </div>

        <div class="col-md-6">
          <label class="form-label">Fecha Fin</label>
          {{form.fecha_fin}}
        </div>

        <div class="col-12">
          <label class="form-label" style="margin-bottom:0px">Carta de Presentación</label>
          <p class="fw-light">Te recomendamos que escribas en resumidas palabras quien eres profesionalmente.</p>
          {{form.cover_letter}}
        </div>

        <div class="col-12">
          <label class="form-label" style="margin-bottom:0px">Currículum</label>
          <p class="fw-light" style="margin-bottom:0px">Es esencial subir un currículum actualizado.</p>
        </div>

        <div class="input-group mb-3">
          {{form.resume}}
        </div>
      
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary">Postularse</button>
        </div>

    </form>
  </div>
</body>
{% endblock  %}