{% extends "job_applications-base.html" %}
{% load static %}
{% block content %}

<head>
    <title>Employer Profile Form</title>
    <link rel="stylesheet" href="{% static 'job_application.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body>
  <div class = "container">
    <div class="col-12">
      <h1>Postularse a un Empleo</h1>
      <h2>Tus datos de Perfil y del Filtro Inclusivo se incluirán automáticamente a la aplicación.</h2>
    </div>

    <form method="post" enctype="multipart/form-data" class="row g-3">
      {% csrf_token %}
        <h3>Experiencia reciente</h3>
      
        <div class="col-md-6">
          <label class="input-label">Título del Empleo Reciente *</label>
          {{form.recent_job_title}}
        </div>

        <div class="col-md-6">
          <label class="input-label">Compañía en la que se trabajó</label>
          {{form.recent_job_company}}
        </div>

        <div class="col-md-6">
          <label class="input-label">Fecha de Inicio</label>
          {{form.fecha_inicio}}
        </div>

        <div class="col-md-6">
          <label class="input-label">Fecha de Terminación</label>
          {{form.fecha_fin}}
        </div>

        <h3>Postulación</h3>

        <div class="col-12">
          <label class="input-label" style="margin-bottom:0px">Carta de Presentación</label>
          <p class="help-text">Te recomendamos que escribas en resumidas palabras quien eres profesionalmente.</p>
          {{form.cover_letter}}
        </div>

        <div class="col-12">
          <label class="input-label" style="margin-bottom:0px">Currículum</label>
          <p class="help-text" style="margin-bottom:0px">Es esencial subir un currículum actualizado.</p>
        </div>

        <div class="input-group mb-3">
          {{form.resume}}
        </div>
      
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-light">Postularse</button>
        </div>

    </form>
  </div>
</body>
{% endblock  %}