{% extends 'base-employer_dashboard.html' %}
{% load static %}
{% block content %}
  <body>

    <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'job_applications' application.job_offer.id %}">
        <img style="margin-bottom: 5px;"src="{% static 'back_arrow.ico' %}"alt="Logo" width="30" height="30">
        <a class="navbar-brand" href="{% url 'employers-home' %}">
          <img style="margin-bottom: 5px;"src="{% static 'home_icon.ico' %}"alt="Logo" width="40" height="40">
        </a>
      </a>
      <h1 style="float:right;" class="display-6">Aplicantes</h1>
    </div>
  </nav>

  <div class="container d-flex justify-content-center">
    <div class="card" style="width: 100%">
      <div class="card-body" style="width: 100%">
        <div class="col-12">
            <p class="fw-semibold" style="font-size: 24px; margin-bottom: 0px">{{application.candidate.first_name}} {{application.candidate.last_names}}</p>
            <p class="fw-light">{{application.cover_letter}}</p>
        </div>
        <p class="fw-semibold" style="font-size: 17px; margin-bottom: 0px">Experiencia previa</p>
        <div class="col-12">
            <p class="fw-semibold" style="font-size: 16px; margin-bottom: 0px">{{application.recent_job_title}} - {{application.recent_job_company}}</p>
            <p class="fw-light">{{application.fecha_inicio}}-{{application.fecha_fin}}</p>
        </div>
      </div>
    </div>
  </div>

  </body>
{% endblock %}
