{% extends 'base-employer_dashboard.html' %}
{% load static %}
{% block content %}
  <body>

  <div class="container d-flex justify-content-center">
    <div class="card" style="width: 100%">
      <div class="card-body" style="width: 100%">
        <div class="col-12">
            <p class="fw-semibold" style="font-size: 24px; margin-bottom: 0px">{{application.candidate.first_name}} {{application.candidate.last_names}}</p>
            <p class="fw-light">{{application.cover_letter}}</p>
        </div>
        <p class="fw-semibold" style="font-size: 17px; margin-bottom: 0px">Experiencia previa</p>
        <div class="col-12">
            <p class="fw-semibold" style="font-size: 16px; margin-bottom: 0px">{{application.recent_job_title}} - {{application.recent_job_company}}</p>
            <p class="fw-light">{{application.fecha_inicio}}-{{application.fecha_fin}}</p>
        </div>
      </div>
    </div>
  </div>

  </body>
{% endblock %}
