{% extends 'base-employer_dashboard.html' %}
{% load static %}
{% block content %}
<body style="background-color: rgb(235, 234, 234);">

  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom:40px; margin-top:10px;">
    <h4>Ofertas de Trabajo</h4>
    <a href="{% url 'create-job_offer' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Crear Oferta</a>
  </div>

    <div class="list-group"  style="margin-left:15px; margin-right:15px;">
      {% for job_offer in job_offers %}
        <a href="{% url 'job_applications' job_offer.id %}" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{job_offer.job_title}}</h5>
          </div>
          <p class="mb-1">{{job_offer.state}},{{job_offer.city}}</p>
          <small>{{ job_offer.created_at|date:"d/m/Y" }}</small>
        </a>
        {% endfor %}
    </div>

</body>
{% endblock %}
