{% extends 'base-employer_dashboard.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'employers_dashboard.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body style="background-color: #5271ff;">

  {% if applications %}
    <div class="accordion accordion-flush">

      {% for application in applications %}
        <h1>Aplicadores de la Oferta</h1>
        <div class="accordion-item">

          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#application_{{ application.id }}" aria-expanded="false" aria-controls="application_{{ application.id }}">
              <div class="col-12">
                <p class="fw-semibold" style="font-size: 18px; margin-bottom:0px">{{application.candidate.first_name}} {{application.candidate.last_names}}</p>
                <p class="fw-light" style="margin-bottom:0px">{{application.candidate.title}}</p>
                <p class="fw-light" style="margin-bottom:0px">{{application.status}}</p>
              </div>
            </button>
          </h2>

          <div id="application_{{ application.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic mixed styles example" style="height:50px">
              <a href="{% url 'set_status' application.id 'No Interesado'%}" class="btn btn-danger w-100">Rechazar</a>
              <a href="{% url 'application_details' application.id %}" class="btn btn-primary w-100">Detalles</a>
              <a href="{% url 'set_status' application.id 'Interesado'%}" class="btn btn-success w-100">Aceptar</a>
            </div>
          </div>

        </div>
      {% endfor %}
      
    </div>
  {% else %}
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h1>Ups! No hay aplicaciones todavía.</h1>
              <h2>La paciencia es una virtud, puedes modificar los detalles de tu oferta para hacerla más atractiva.</h2>
          </div>
      </div>
  </div>
  {% endif %}

</body>
{% endblock %}
