{% extends "applicants-base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Applicant Profile Form</title>
    <link rel="stylesheet" href="{% static 'applicant_forms.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body style="background-color: #5271ff;">

  <div class="container">
    <h1>Información de contacto</h1>

    <!-- Personal_Data Form -->
    <form method="post" enctype="multipart/form-data" action="{% url 'applicant-profile' request.user.id %}" class="row g-3">
      {% csrf_token %}

      <div class="col-md-6">
        <label for="input_first_name" class="input-label">Nombre *</label>
        {{form.first_name}}
      </div>

      <div class="col-md-6">
        <label for="input_last_names" class="input-label">Apellidos *</label>
        {{form.last_names}}
      </div>

      <div class="col-md-12">
        <label for="input_title" class="input-label">Título de Profesión</label>
        {{form.title}}
      </div>

      <div class="col-md-6">
        <label for="input_industry" class="input-label">Industria</label>
        {{form.industry}}
      </div>

      <div class="col-md-6">
        <label for="input_phone" class="input-label">Telefono Móvil</label>
        <div class="input-group">
          <span class="input-group-text">+521</span> {{ form.phone}}
        </div>
      </div>

      <div class="col-md-6">
        <label for="inputCity" class="input-label">Ciudad *</label>
        {{form.city}}
      </div>

      <div class="col-md-4">
        <label for="inputState" class="input-label">Estado *</label>
        {{form.state}}
      </div>

      <div class="d-grid gap-4">
        <button type="submit" class="btn btn-light">Guardar</button>
      </div>

    </form>
  </div>
</body>
{% endblock %}
