{% extends "applicants-base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Applicant Profile Form</title>
    <link rel="stylesheet" href="{% static 'applicant_forms.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body style="background-color: #5271ff;">

  <div class="container">

    <!-- Personal_Data Form -->
    <form method="post" enctype="multipart/form-data" action="#" class="row g-3">
      {% csrf_token %}
      <h1> Filtro Inclusivo 
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fw-semibold" style= "font-size: 18px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Condición Psiquica
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'applicant-filter' request.user.id 'applicant-filter-physical.html' %}">Condición Física o Motora</a></li>
          <li><a class="dropdown-item" href="{% url 'applicant-filter' request.user.id 'applicant-filter-sensorial.html' %}">Condición Sensorial</a></li>
          <li><a class="dropdown-item" href="{% url 'applicant-filter' request.user.id 'applicant-filter-intelectual.html' %}">Condición Intelectual</a></li>
        </ul>
      </div>
      </h1>

      <div class="container mb-3">
          <label for="inputState" class="input-label">Partes afectadas:</label>
          {{form.opcion_psiquica}}
      </div>

      <div class="col-md-6">
        <label for="input_first_name" class="input-label">Descripcion de Afectacion</label>
        {{form.descripcion_psiquica}}
      </div>

      <div class="col-md-6">
        <label for="input_first_name" class="input-label">Descripcion de Afectacion</label>
        {{form.adaptaciones_psiquica}}
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-light">Guardar</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
