{% extends "applicants-base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Applicant Filter Form</title>
    <link rel="stylesheet" href="{% static 'profile-styles.css' %}">
</head>

<body>
  <div class="container">
    <h2>Applicant Filter Form</h2>

    <!-- Filter Form -->
    <form method="post" enctype="multipart/form-data" action="{% url 'applicant-filter' request.user.id %}">
      {% csrf_token %}
      
      {{ filter_form.as_p }}
      
      <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-primary">Guardar</button>
      </div>
    </form>
  </div>
</body>

{% endblock  %}