{% extends "applicants-base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Applicant Profile Form</title>
    <link rel="stylesheet" href="{% static 'applicant_forms.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body style="background-color: #5271ff;">

  <div class="container">

    <!-- Personal_Data Form -->
    <form method="post" enctype="multipart/form-data" action="{% url 'applicant-profile' request.user.id %}" class="row g-3">
      {% csrf_token %}
      <h1> Filtro Inclusivo
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fw-semibold" style= "font-size: 18px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Partes Fisicas y Motoras
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'applicant-filter' request.user.id 'applicant-filter-sensorial.html' %}">Condición Sensorial</a></li>
          <li><a class="dropdown-item" href="{% url 'applicant-filter' request.user.id 'applicant-filter-intelectual.html' %}">Condición Intelectual</a></li>
          <li><a class="dropdown-item" href="{% url 'applicant-filter' request.user.id 'applicant-filter-phsych.html' %}">Condición Psiquica</a></li>
        </ul>
      </div>
      </h1>

      <div class="container mb-3">
          <label for="inputState" class="input-label">Partes afectadas:</label>
          {{form.opcion_fisicaMotora}}
          
          <label for="inputState" class="input-label">Grado de afectación:</label>
          {{form.afectacion_fisicaMotora}}
      </div>

      <div class="col-md-6">
        <label for="input_first_name" class="input-label">Descripcion de Afectacion</label>
        {{form.descripcion_fisicaMotora}}
      </div>

      <div class="col-md-6">
        <label for="input_first_name" class="input-label">Descripcion de Afectacion</label>
        {{form.adaptaciones_fisicaMotora}}
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-light">Guardar</button>
      </div>
    </form>
  </div>

  <!-- Add Bootstrap JS and Popper.js scripts here -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}
