{% load static %}
<head>
</head>

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'employers-home' %}"><img src="{% static 'Logo.png' %}" alt="Logo" style="width: 50px; height: auto;">   OpenHire Empleadores</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú Empleadores</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!-- Menú_Primario -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'employers-home' %}">Inicio</a>
          </li>
          {% if user.is_authenticated and user.is_employer %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'create_job_offer' %}">Crear Oferta de Empleo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'employer-dashboard' request.user.id %}">Mi Panel de Ofertas de Empleo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'employer-profile' request.user.id %}">Mi Perfil</a>
          </li>
          {% endif %}
          <!-- Menú_Secundario -->
          {% if user.is_authenticated and user.is_employer %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Crear una Cuenta</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>