{% extends "employers-base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Employer Profile Form</title>
    <link rel="stylesheet" href="{% static 'profile-styles.css' %}">
</head>

<body>
  <div class = "container">
    <h2 style = "margin-bottom: 5px;">Información de contacto</h2>
    <p style="color: rgb(134, 133, 133); font-size: 14px;">Recuerda que es importante introducir todos tus datos para poder obtener mejores resultados.</p>

    <!-- Personal_Data Form -->
    <form method="post" enctype="multipart/form-data" action="{% url 'employer-profile' request.user.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      
      <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-primary">Guardar</button>
      </div>
    </form>
  </div>

</body>
{% endblock  %}