{% extends "employers-base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Employer Profile Form</title>
    <link rel="stylesheet" href="{% static 'employer_form.css' %}">
    <link href="https://fonts.cdnfonts.com/css/lora-4" rel="stylesheet">
</head>

<body>

  <div class="container">
    <h1>Información de contacto</h1>

    <form method="post" enctype="multipart/form-data" action="#" class="row g-3">
      {% csrf_token %}

      <div class="col-md-6">
        <label class="input-label">Nombre Compañía*</label>
        {{form.company_name}}
      </div>

      <div class="col-md-4">
        <label class="input-label">Industria *</label>
        {{form.industry}}
      </div>

      <div class="col-md-2">
        <label class="input-label">Teléfono *</label>
        {{form.phone}}
      </div>

      <div class="col-12">
        <label class="input-label">Calle</label>
        {{form.street_address}}
      </div>

      <div class="col-12">
        <label class="input-label">Colonia</label>
        {{form.neighborhood}}
      </div>

      <div class="col-md-6">
        <label class="input-label">Ciudad *</label>
        {{form.city}}
      </div>

      <div class="col-md-4">
        <label class="input-label">Estado</label>
        {{form.state}}
      </div>

      <div class="col-md-2">
        <label class="input-label">C.P</label>
        {{form.postal_code}}
      </div>

      <div class="col-12">
        <label for="input_first_name" class="input-label">Descripción de la Compañía</label>
        {{form.company_description}}
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-light">Guardar</button>
      </div>
    </form>
  </div>

  <!-- Add Bootstrap JS and Popper.js scripts here -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}
