body {
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
}

h1{
    margin-top: 0.5%; /* Separación de 100px desde la izquierda */
    margin-left: 1%; /* Separación de 100px desde la izquierda */
    font-size: 50px;
    font-family: 'Lemon Tuesday', sans-serif;
}

.gray-box{
    background-color: #e2e2e2;
    width: 110%;
    border-radius: 30px;
    margin-top: 1%; /* Separación de 100px desde la izquierda */
    margin-left: 8%; /* Separación de 100px desde la izquierda */
    padding-bottom: 200%;
    position: fixed;
}

.blue-box{
    padding-bottom: 200%;
    position: relative;
    background-color: #5271ff;
    border-radius: 30px;
    top: 20px; /* Separación de 20px desde arriba */
    left: 20px; /* Separación de 20px desde la izquierda */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.container{
    position: relative;
    top: 100px;
    right: 10%;
    width: 60%;
}

h2{
    color: white;
    text-align: center; /* Center horizontally */
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lora', sans-serif;       
}

h3{
    color: white;
    text-align: center; /* Center horizontally */
    font-size: 18px;
    font-family: 'Lora', sans-serif;
}

.redirect-link{
    color: white;
    text-align: center; /* Center horizontally */
    font-size: 18px;
    font-family: 'Lora', sans-serif;
}

.input-label{
    color: white;
    font-size: 11px;
    font-family: 'Lora', sans-serif;
    margin-left: 1%;
    margin-top: 5%;
}

.transparent-input {
    background-color: #e2e2e273; /* Adjust the alpha value (0.0 to 1.0) for transparency */
    border: 0px;
    border-radius: 20px;
    padding: 10px; /* Adjust padding as needed */
    width: 100%; /* Make the input field width 100% */
}

.btn-dark{
    margin-top: 5%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Lora', sans-serif;
}

.transparent-input::placeholder {
    color: white;
    font-family: 'Lora', sans-serif;
}